/* header and footer */

#navbarPlaceholder::after {
    clear: both;
}
#footer_bar::before {
    clear: both;
}

.stars {
    display: inline-block;
    float: right;
}

/* card info text */
.card_info {
    margin: 0px;
}

#logo {
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

/* gym cards */
.gym_card {
    border-radius: 25px;
    border: 1px solid;
    margin: 10px 0;

}

.card-img-top,
.image_card_container {
    border-radius: 10px;
}

/* a links */

a:hover {
    color: black;
}

#details_btn:hover{
    transform: translateX(10px);
}
